.section1 {
	margin: 0 auto;
	width: 200px;
	height: 250px;
	text-align: center;
	background: rgba(0, 0, 0, 0.4);
	font-weight: 100;
	font-family: 'Century Gothic', sans-serif;
	color: white;
}

.aboutme-img {
	width: 200px;
	height: 200px;
}

.bio {
	width: 400px;
	background: rgba(255, 255, 255, 0.86);
	text-align: center;
	padding: 20px;
	margin: auto;
	font-family: 'Arial', sans-serif;
}

.bio p {
	text-align: justify;
	letter-spacing: 2px;
	font-weight: 100;
	
}